aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
click
colorama
distro
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
frozenlist
gunicorn
h11
httpcore
httpx
idna
jiter
multidict
openai
packaging
propcache
psycopg
psycopg2
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-decouple
python-dotenv
requests
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
whitenoise
yarl